#main {
    padding: 2rem 0 2rem 0;
    font-family: "Poppins", serif;
}

#header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#headingRight {
    font-weight: 700;
    color: var(--text-color);
    padding: 5rem 1rem;
    font-size: 2.5rem;
}

#title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

#contactLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.contactLink {
    color: var(--text-color);
    background: linear-gradient(90deg, #5680fc, #1639ff );
    width: 17.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    font-weight: 600;
    font-size: initial;
    text-decoration: none;
    padding: 2rem;
    margin: 1rem;
    transition: 0.2s ease;
}

.contactLink:hover {
    text-decoration: none;
    border-radius: 1rem;
    transition: 0.2s ease;
}

@media only screen and (min-width: 688px) {
    #title {
        font-size: 3rem;
    }

    .contactLink {
        width: 25rem;
    }    
}

@media only screen and (min-width: 992px) {
    
}

@media only screen and (min-width: 1312px) {
    #header{
        flex-direction: row;
    }

    #headingLeft {
        padding: 5rem;
        float: left;
        max-width: 50%;
    }

    #headingRight {
        padding: 3rem;
        float: right;
        max-width: 50%;
    }

    #contactLinks {
        padding: 0 10%;
        flex-wrap: wrap;
        flex-direction: unset;
        justify-content: space-between;
    }
    
    .contactHolder {
        flex: 0 1 50%;
    }
}