.nav {
    color: ghostwhite;
    background: dimgray;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.heading {
    font-size: 2rem;
}
.center {
}

.hamburger {
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
}

.filler {
    margin: auto;
}