.mainHeader {
    font-family: var(--fonts);
    color: var(--text-color);
    background: var(--bg-color);
    max-width: 100%;
}

.headingLeft {
    min-height: 70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    min-width: 50%;
    font-weight: 700;
    color: var(--text-color);
    padding: 0 1rem;
    font-size: 2.5rem
}

.headingRight {
    display:flex;
    justify-content:center;
    align-items:center;
    min-width: 50%;
    z-index: 0;
}

@media only screen and (min-width: 688px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1312px) {

}