.mainHeader {
    padding: var(--padding);
    font-family: var(--fonts);
    color: var(--text-color);
    background: var(--bg-color);
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: center;
}

.headingLeft {
    color: var(--text-color);
    font-size: var(--font-size-heading);
    float: left;
}

.headingRight {
    float: right;
}