.main {
  display: grid;
  justify-items: center;
  font-size: 1.125rem;
  min-height: 90vh;
  align-content: center;
  text-align: center;
  padding: var(--padding);
  font-family: var(--fonts);
  color: var(--text-color);
  background: var(--bg-color);
}

.intro {
  padding: var(--padding);
}

.title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}