/* TODO: Comment this file */

@media (prefers-color-scheme: dark) {
    .aboutFlex {
        --about-bg-color: rgba(18, 18, 18, 0.53);
    }
}

@media (prefers-color-scheme: light) {
    .aboutFlex {
        --about-bg-color: rgba(216, 216, 216, 0.53);
    }
}


.mainHeader {
    font-family: var(--fonts);
    color: var(--text-color);
    background: var(--bg-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.zigzag {
    max-width: 10em;
}

.headingLeft {
    display: flex;
    justify-content :center;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    color: var(--text-color);
    padding: 5rem 1rem;
    font-size: 2.5rem;
    min-width: 50%;
}
.headingRight {
    padding: 0 0 5rem 0;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 0;
    min-width: 50%;
}

.contrastingColor {
    background: var(--contrasting-bg-color);
    z-index: -3;
}

.description {
    position: relative;
    display: inline-flex;
    color: var(--text-color);
}

.about {
    grid-column: 1;
    grid-row: 1;
}

.yosemite {
    background: url("../public/yosemite.webp") no-repeat scroll 70% 90% / cover;
    margin-bottom: 6px;
    z-index: -1;
    grid-column: 1;
    grid-row: 1;
}

.yosemiteBuffer {
    background-image: linear-gradient(to bottom, transparent, var(--contrasting-bg-color));
    bottom: 0;
    height: 10rem;
    width: 100%;
    position: absolute;
}

.divider {
    width: 20%;
    margin: 7px 0 15px 0;
    height: 2px;
    background-color: dimgrey;
}

.aboutHeading {
    max-width: 100%;
    margin: unset;
    padding: unset;
    font-size: 3rem;
    font-weight: 700;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 600;
}

.aboutParagraph {
    margin-top: 1rem;
}

.aboutFlex {
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem;
    padding: 1rem;
    background: var(--about-bg-color);
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-start: 1;
    grid-column-start: 1;
}

.statsContainer {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--contrasting-text-color);
    background-color: var(--contrasting-bg-color);
    padding: 2rem;
    font-size: 1.5rem;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--contrasting-text-color);
    background-color: var(--contrasting-bg-color);
    font-weight: 600;
}

.stat {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
}

.stat h2 {
    font-weight: 700;
    font-size: 2.25rem;
}

.stat p {
    font-size: 1.25rem;
}

.statDivider {
    width: 2rem;
    margin: 15px 0;
    height: 2px;
    background-color: dimgrey;
}

@media only screen and (min-width: 688px) {
    .about {
        margin: 3rem;
        width: 50%;
    }

    .aboutFlex {
        max-width: 80%;
        float: right;
    }
}

@media only screen and (min-width: 992px) {
    .mainHeader{
        flex-direction: row;
    }
    .headingLeft {
        padding: 5rem;
        float: left;
        max-width: 50%;
    }
    .headingRight {
        padding: 3rem;
        float: right;
        max-width: 50%;
    }
    .aboutFlex {
        max-width: 70%;
    }

    .stats {
        flex-direction: row;
    }

    .stat {
        padding: 2rem;
    }
}

@media only screen and (min-width: 1312px) {
    .aboutFlex {
        margin: 5rem;
        max-width: 60%;
    }
    .aboutParagraph {
        margin-top: 2rem;
    }
}