/* TODO: Comment this file */

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --contrasting-bg-color: #dadada;
        --text-color: #ffffff;
        --contrasting-text-color: #121212;
        --nav-bg-color: #444852;
    }
}
@media (prefers-color-scheme: light){
    :root {
        --bg-color: #f8f8f8;
        --contrasting-bg-color: #121212;
        --text-color: #121212;
        --contrasting-text-color: #dadada;
        --nav-bg-color: #a1a1a1;
    }
}

:root {
    --padding: 1.5rem;
    --fonts: "Poppins", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans";
    --link-color: #3b82f6;
    --font-size-heading: 1.5rem;
    --brand-color: #0f33ff;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

body {
    background: var(--bg-color);
}

button {
    border-radius: 0;
    border: none;
    background: none;

}

p, h1, h2, h3, h4, h5, h6 {
    font-family: var(--fonts);
}

p {
    line-height: 28px;
}

code {
    background: hsla(0, 0%, 100%, 0.2);
    border-radius: 4px;
    padding: 2px 5px;
}

@media (prefers-color-scheme: light) {
    .brand {
        background: linear-gradient(90deg, #396afc, #2948ff );
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (prefers-color-scheme: dark) {
    .brand{
        background: linear-gradient(90deg, #396afc, #2948ff );
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media only screen and (min-width: 688px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1312px) {

}
